<h1>Mortgage Calculator Details</h1>

<p>Calculates how much you pay on your mortgage per month for a fixed rate.</p>


<%= form_tag("/mortgage_calc/results", method: "get") do %>
  <ul>
    <li>
      <%= label_tag(:loan_amount, "Loan Amount:") %>
      <%= text_field_tag(:loan_amount) %>
    </li>

    <li>
      <%= label_tag(:term_length, "Term Length (years):") %>
      <%= text_field_tag(:term_length) %>
    </li>

    <li>
      <%= label_tag(:interest_rate, "Interest Rate:") %>
      <%= text_field_tag(:interest_rate) %>
    </li>

  </ul>

  <%= submit_tag("Calculate") %>

<% end %>
