<h1>Mortgage Calculator Results</h1>

<p>Monthly Payment Amount</p>

<table>
  <tr>
    <td>Loan Amount</td><td><%= @loan_amount %></td>
  </tr>
  <tr>
    <td>Term Length (years)</td><td><%= @term_length %></td>
  </tr>
  <tr>
    <td>Interest Rate</td><td><%= @interest_rate %></td>
  </tr>
  <tr>
    <td><b>Monthly Payment</b></td><td><b><%= @monthly_payment %></b></td>
  </tr>
</table>

<%= link_to "Re enter", mortgage_calc_details_path %>